* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  /* display: flex; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 40px;
  background-color: rgba(51, 51, 51, 0.753);
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

input,
button {
  width: 80%;
  padding: 1%;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.753);
  color: #fff;
}

@media screen and (max-width: 1650px) {
  .software-image img {
    height: 500px;
  }
}

.header {
  width: 100%;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h1 {
  display: inline-block;
  padding: 10px;
  border-left: 30px solid #505050;
  background-color: #6b6b6b;
  color: #fff;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  text-decoration: none;
  color: #fff;
}

.software-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 400px; */
  margin: 0;
  background-color: #fff;
}

.software-image img {
  height: 530px;
  /* margin-left: 100px; */
  display: block;
  min-width: 250px;
  flex: 1 1 100%;
}

.underline {
  border-bottom: 4px solid #6b6b6b;
}

.underline-2 {
  border-bottom: 4px solid #3d3939;
}

.portfolio-section {
  margin-top: 0;
  padding: 50px;
  display: flex;
  margin-bottom: 0;
}

.portfolio-section a {
  color: #3d3939;
}

.portfolio-section h2 {
  color: #3d3939;
  margin: 10px 20px;
  padding: 100px 60px;
  border-right: 4px solid #3d3939;
}

.about-me-content {
  margin: auto auto;
  padding-left: 15px;
  color: #3d3939;
  width: 100%;
}

.pl-1 {
  justify-items: flex-end;
}

.work-content {
  display: block;
  margin: 0 auto;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  position: relative;
}

.image-wrapper {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 10px;
}

.overlay-text-2 {
  position: absolute;
  top: 10px;
}

.left-image,
.right-image {
  height: auto;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto auto;
  max-width: 100%;
}

.contact-me a {
  color: #3d3939;
}

.contact-me nav {
  margin: auto auto;
  justify-content: space-between;
  justify-self: center;
}

.contact-me nav ul {
  list-style-type: none;
}

.contact-me nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.contact-me nav ul li a {
  text-decoration: none;
  color: #3d3939;
}

.aside {
  background-color: #6b6b6b;
  color: #fff;
  text-align: center;
  padding: 23px;
  flex: 1;
  line-height: 2.5rem;
  align-self: center;
}

.aside h3 {
  font-size: large;
}

.contact-header {
  padding: 50px;
  display: flex;
  color: #3d3939;
  margin: 10px 20px;
  padding: 100px 60px;
  border-right: 4px solid #3d3939;
}
