* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --underline: solid underline #6b6b6b 4px;
  --h2-size: x-large;
  --p-size: large;
  --background-color: #222222e1;
}

body {
  margin: 0;
  padding: 0;
}

input,
button {
  width: 80%;
  padding: 1%;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  color: #fff;
}

.header {
  width: 100%;
  background-color: var(--background-color);
  background-image: url(../images/software-engineer-gif.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 485px 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}

.header h1 {
  display: inline-block;
  padding: 10px;
  border-left: 30px solid #505050;
  background-color: #6b6b6b;
  color: #fff;
  font-size: x-large;
}

.profile-picture {
  position: absolute;
  left: 246px;
  top: 19px;
}

.profile-picture img {
  height: 87px;
  clip-path: circle();
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  text-decoration: none;
  color: #fff;
}

.underline {
  text-decoration: var(--underline);
}

.portfolio-section {
  margin-top: 0;
  padding: 50px;
  display: flex;
  margin-bottom: 0;
}

.about-me-content {
  align-self: center;
  color: #3d3939;
  width: 100%;
  text-align: center;
  margin: 124px 200px;
  padding-right: 140px;
  line-height: 1.5rem;
}

.about-me-content a {
  color: purple;
}

.about-me-content {
  font-size: var(--p-size);
}

.portfolio-section a {
  color: #3d3939;
}

.portfolio-section h2 {
  display: flex;
  color: #3d3939;
  margin: 10px 20px;
  padding: 100px 60px;
  border-right: 4px solid #3d3939;
  align-items: center;
  font-size: var(--h2-size);
}

#work {
  padding-right: 100px;
}

.content {
  width: 100%;
  text-align: center;
  margin: 124px 400px;
  line-height: 1.5rem;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  position: relative;
}

.image-wrapper {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 10px;
}

.overlay-text-2 {
  position: absolute;
  top: 10px;
}

.left-image,
.right-image {
  height: auto;
}

.contact-me div {
  align-content: center;
}

.contact-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 260px;
}

.linkedin::after {
  background: url(../images/linkedin-logo.png) no-repeat;
}

.github::after {
  background: url(../images/github-logo.png) no-repeat;
}

.email-logo::after {
  background: url(../images/email-logo.png) no-repeat;
}

.contact-logo::after {
  display: flex;
  position: relative;
  background-size: 30px;
  content: "";
  width: 100%;
  bottom: 31px;
  height: 34px;
  left: 63px;
}

#email::after {
  bottom: 23px;
  left: 156px;
}

#github::after {
  left: 52px;
}

.contact-header {
  padding: 50px;
  display: flex;
  color: #3d3939;
  margin: 10px 20px;
  padding: 100px 60px;
  border-right: 4px solid #3d3939;
}
